{include file="public/left" /}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('admin/Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商家活动审核</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="{:url('admin/activity/index')}" id="myform" name="myform" method="post">
                <table class="search-tab">
                    <tr>
                        <td width="70">状态:</td>
                        <td>
                            <select name="status">
                                <option value="">全部类型</option>
                                <option value="1" {present name="status"}{if condition="$status eq 1"}selected{/if}{/present}>未付款</option>
                                <option value="2" {present name="status"}{if condition="$status eq 2"}selected{/if}{/present}>待审核</option>
                                <option value="3" {present name="status"}{if condition="$status eq 3"}selected{/if}{/present}>进行中</option>
                                <option value="4" {present name="status"}{if condition="$status eq 4"}selected{/if}{/present}>已完成</option>
                                <option value="5" {present name="status"}{if condition="$status eq 5"}selected{/if}{/present}>驳回</option>
                                <option value="6" {present name="status"}{if condition="$status eq 6"}selected{/if}{/present}>关闭</option>
                                <option value="7" {present name="status"}{if condition="$status eq 7"}selected{/if}{/present}>待结算</option>
                            </select>
                        </td>

                        <td>
                            <input type="text" name="mobile" value="{$mobile|default=''}" placeholder="请输入手机号搜索">
                        </td>

                        <td><input class="btn btn-primary btn2"  value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th width="5%">ID</th>
                    <th width="5%">活动商品名称</th>
                    <th width="10%">商品主图</th>
                    <th width="10%">商品链接</th>
                    <th width="10%">商品单价|数量</th>
                    <th width="10%">开始时间-结束时间</th>
                    <th width="10%">状态</th>
                    <th width="10%">活动费用</th>
                    <th width="10%">操作</th>
                </tr>
                {foreach name='list' id='vo'}
                <tr>
                    <td>{$vo['id']}</td>
                    <td>{$vo['product_name']}</td>
                    <td><img src="{$vo['product_logo']}"></td>
                    <td>{$vo['product_link']}</td>
                    <td>{$vo['product_price']} | {$vo['num']}</td>
                    <td>{$vo['begin_time']}——{$vo['end_time']}</td>
                    <td>
                        {if condition="$vo['status'] eq 1"}<span style="color: pink">未付款</span>
                        {elseif condition="$vo['status'] eq 2"} <span style="color: red">待审核</span>
                        {elseif condition="$vo['status'] eq 3"} <span style="color: darkorange">进行中</span>
                        {elseif condition="$vo['status'] eq 4"} <span style="color: sandybrown">已完成</span>
                        {elseif condition="$vo['status'] eq 5"}<span style="color: red">驳回</span>
                        {elseif condition="$vo['status'] eq 6"}<span style="color: red">关闭</span>
                        {elseif condition="$vo['status'] eq 7"}<span style="color: red">待结算</span>
                        {/if}
                    </td>

                    <td>
                        总费用: {$vo['deposit'] + $vo['service'] + $vo['adv_price']}<br>
                        保证金：{$vo['deposit']}<br>
                        推广费用： {$vo['service']}<br>
                        增值费用： {$vo['adv_price']}
                    </td>


                    <td>
                        <a href="{:url('admin/activity/details',['id' => $vo['id']])}" target="_blank">活动详情</a>
                        {if condition="$vo.status eq 2"}
                            <a href="{:url('admin/activity/actAudit',['id' => $vo['id'],'userid' => $vo['userid'],'type' => 'pass'])}">通过</a>
                            <a href="{:url('admin/activity/actAudit',['id' => $vo['id'],'userid' => $vo['userid'],'type' => 'reject'])}">驳回</a>
                        {elseif condition="$vo.status eq 7"/}
                            <a href="{:url('admin/activity/closeAnAccountUser',['id' => $vo['id'],'userid' => $vo['userid'],'type' => 'close'])}" target="_blank">结算</a>
                        <a href="{:url('admin/activity/closeAnAccountUser',['id' => $vo['id'],'userid' => $vo['userid'],'type' => 'reject'])}" target="_blank">驳回</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </table>
            <div class="list-page"> <ul>{$page}</ul></div>

        </div>
    </div>
</div>
<!--/main-->
</div>
<script>
</script>
</body>
</html>