{include file="public/left" /}
<link rel="stylesheet" href="{$Think.DS}admin/js/layer/viewwe.min.css" />
<script type="text/javascript" src="{$Think.DS}admin/js/layer/viewer.min.js"></script>
<!--<script type="text/javascript" src="/Public/js/layer/layer.js"></script>-->
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:url('admin/Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商家淘宝店铺审核列表</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <!--<form action="{:url('admin/Audit/shopsTaobaoList')}" method="get">
                <table class="search-tab">
                    <tr>
                        <td>
                            <select name="status" id="seleceds" value="">
                                <option value="10">所有状态</option>
                                <option value="1" {if condition="1"}selected{/if}>等待审核</option>
                                <option value="2" {if condition="2"}selected{/if}>通过</option>
                                <option value="3" {if condition="3"}selected{/if}>驳回</option>
                            </select>
                        </td>
                        <td><input class="common-text" placeholder="手机号进行搜索" value="{$uid|default=''}" name="uid" type="text" id="search"/></td>
                        <td><input class="btn btn-primary btn2"  value="搜索" type="submit"/></td>
                    </tr>
                </table>
            </form>-->

        </div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th width="10%">上传时间</th>
                    <th width="5%">用户UID</th>
                    <th width="5%">店铺手机号</th>
                    <th width="5%">店铺类型</th>
                    <th width="10%">店铺名称</th>
                    <th width="10%">旺旺名称</th>
                    <th width="20%">店铺链接</th>
                    <th width="5%">QQ号</th>
                    <th width="5%">状态</th>
                    <th width="10%">初审时间</th>
                    <th width="5%">审核人</th>
                    <th width="10%">操作</th>
                </tr>
                <tbody id="list">
                {foreach name='list' item='vo'}
                <tr>
                    <td>{$vo['add_time']}</td>
                    <td>{$vo['userid']}</td>
                    <td>{$vo['mobile']}</td>
                    <td>
                        {if condition="$vo.store_type eq 1"}<span>淘宝</span>
                        {elseif condition="$vo.shop_status eq 2"}<span style="color: green">京东</span>
                        {/if}
                    </td>
                    <td>{$vo['store_name']}</td>
                    <td>{$vo['wang_name']}</td>
                    <td>{$vo['store_url']}</td>
                    <td>{$vo['store_qq']}</td>

                    <td>
                        {if condition="$vo.shop_status eq 1"}<span>等待审核</span>
                            {elseif condition="$vo.shop_status eq 2"}<span style="color: green">通过</span>
                            {else/}
                            <span style="color: red">驳回</span>
                            {/if}

                    </td>

                    <td>
                        {if condition="$vo.audit_time eq 0"}/
                        {else/}
                        {$vo.audit_time}
                        {/if}
                    </td>

                    <td>{$vo.audit_name|default=''}</td>

                    <td>
                        {if condition="$vo.shop_status eq 1"}
                        <a href="{:url('admin/Audit/shopsTaobaoUserPass',['id' => $vo['id'],'userid' => $vo['userid'],'type' => 'pass'])}">通过</a>
                        <a href="{:url('admin/Audit/shopsTaobaoUserPass',['id' => $vo['id'],'userid' => $vo['userid'],'type' => 'pass'])}">驳回</a>
                        {/if}

                        <a href="{:url('admin/Audit/editShops',['id' => $vo['id']])}">修改店铺</a>
                    </td>

                </tr>
                {/foreach}
        </div>
        </tbody>
        </table>
        <div class="list-page"> <ul>{$page}</ul></div>
    </div>

</div>
</div>
<!--/main-->
</div>


<div id="hides"></div>
</body>
</html>
<script>
    function checkimg(id){
        var viewer = new Viewer(document.getElementById(id), {
            url: 'data-original'
        });
    }
</script>