<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv=”X-UA-Compatible” content=”IE=Edge,chrome=1”>
		<title>找回密码</title>
		<link rel="shortcut icon" href="/img/merchants/logo_icn.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/reset.css?v=20181220" />
		<link rel="stylesheet" type="text/css" href="css/land_retrieve.css" /> </head>
	<body>
		<!--登录页面头部的-->
		<div class="land_top">
			<div class="land_top_content clearfix">
				<ul class="myfl">
					<li class="myfl">
						<h1>
							<a href="/index">
								<img src="/img/home/laqu_logo.png" />
							</a>
						</h1>
					</li>
					<li class="land_top_leftwire myfl"></li>
					<li class="land_top_leftfont myfl" style="font-size: 14px;">找回密码</li>
				</ul>
				<ul class="myfr">
					<li class="land_top_rightfont myfr" style="color: #999999;"> 已有账户，直接
						<a href="/go-login" style="color: #FF366F;margin-left: 5px;">登录</a>
					</li>
					<li class="land_top_rightwire myfr"></li>
					<li class="land_top_rightfont myfr">
						<a href="/register/first">注册账号</a>
					</li>
					<li class="land_top_rightwire myfr"></li>
					<li class="land_top_rightfont myfr">
						<a href="javascript:void(0)" onclick="alert('加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置')">收藏网站</a>
					</li>
					<li class="land_top_rightwire myfr"></li>
					<li class="land_top_rightfont myfr">
						<a href="/index">返回首页</a>
					</li>
				</ul>
			</div>
		</div>
		<!--找回密码部分的内容-->
		<div class="retrieve_a_content">
			<div class="retrieve_a_con_top">
				<ul class="clearfix">
					<li class="retrieve_a_con_fonta myfl">
						<span>1</span>设置用户名 </li>
					<li class="retrieve_a_con_fontb myfl">
						<span>2</span>验证身份 </li>
					<li class="retrieve_a_con_fontb myfl">
						<span>3</span>修改密码 </li>
					<li class="retrieve_a_con_fontb myfl">
						<span>4</span>修改完成 </li>
				</ul>
			</div>
			<!--找回页面第一步的线的样式设置-->
			<div class="retrieve_a_wire">
				<span>
					<em></em>
				</span>
			</div>
			<!--找回页面第一步的主要内容设置-->
			<div class="retrieve_a_center">
				<ul>
					<li class="retrieve_a_centera">你的用户名
						<input type="text" placeholder="请填写注册用户名/手机号" id="name_or_phone" />
					</li>
					<li class="name_error"></li>
					<li class="retrieve_a_centerb">
						<a href="javascript:void(0)">下一步</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="retrieve_a_bottom"> Copyright © 2017 laqu.com&nbsp;&nbsp;浙ICP17003883号-1 &nbsp;&nbsp;版权所有 </div>
	</body>
	<script type="text/javascript" charset="utf-8" src="js/jquery.min.js"></script>
	<!--<script src="/js/land.js" type="text/javascript" charset="utf-8"></script>-->
	<script type="text/javascript">
		//		retrieve_a();
		var txtss = /^[0-9a-zA-Z-_ \u4e00-\u9fa5]*$/; //昵称的正则表达式。
		var txt =
			/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|16[0|1|2|3|5|6|7|8|9]|17[0|1|3|5|6|7|8]|18[0|1|2|3|4|5|6|7|8|9]|19[0|1|2|3|4|5|6|7|8|9])\d{8}$/; //手机号的正则表达式。
		var err = $(".name_error");
		var nameNum = $("#name_or_phone");
		var nextClick = $(".retrieve_a_centerb")
			.children("a");
		nameNum.on("blur", function () {
			if ((txtss.test($(this)
						.val()) && $(this)
					.val()
					.length > 3 && $(this)
					.val()
					.length < 21) || txt.test($(this)
					.val())) {
				err.text("");
				err.css("visibility", "hidden");
			} else {
				if ($(this)
					.val()
					.length < 1) {
					err.text("用户名不能为空!")
				} else {
					err.text("用户名填写错误!");
				}
				err.css("visibility", "visible");
			}
		});
		nameNum.on("keyup", function (e) {
			if (e.keyCode == 32) {
				$(this)
					.val($(this)
						.val()
						.replace(/\s+/g, ""));
			}
			if ((txtss.test($(this)
						.val()) && $(this)
					.val()
					.length > 3 && $(this)
					.val()
					.length < 21) || txt.test($(this)
					.val())) {
				nextClick.css({
					"background": "#ff366f",
					"cursor": "pointer"
				});
			} else {
				nextClick.css({
					"background": "#808080",
					"cursor": "default"
				});
			}
		});
		nextClick.on("click", function () {
			if ((txtss.test(nameNum.val()) && nameNum.val()
					.length > 3 && nameNum.val()
					.length < 21) || txt.test(nameNum.val())) {
				var name = nameNum.val();
				$.ajax({
					type: "post",
					url: "/user/person/forgot/auth",
					async: true,
					data: {
						nick: name
					},
					success: function (data) {
						if (data.code == "10000") {
							window.location.href = "/user/person/forgot/auth-phone";
						} else {
							err.text(data.message);
							err.css("visibility", "visible");
						}
					}
				});
			} else {
				err.text("用户名填写错误!");
				err.css("visibility", "visible");
				return false;
			}
		})
	</script>
</html>