{include file="public/header"/} 
<link rel="stylesheet" href="{$Think.INDEX_STYLE}css/user.css"/>
</head>
{include file="public/top_nav_menu"/} 
<body>
		<div class="userControl_bg" style="padding:20px 0 40px 0;">
			<div class="main userControl" style="background: #FFF;min-height: 300px;">
				<div style="padding:30px;">
					<p class="notice-details-title">{$info.title}</p>
					<p class="notice-time">{$info.publish_time}</p>
					<p class="notice-intro">{$info.intro}</p>
					<div class="notice-intro">
						{$info.content}
					</div>
				</div>
			</div>
		</div>
	{include file="public/footer"/}