{include file="public/header"/}
<body>
	{include file="public/top_nav_menu"/}
	{include file="public/search_menu"/}
	<div class="main" style="margin-top: 20px;">
		<div class="bestCargo_bg" style="padding:0 0 40px 0;overflow:hidden;">
			<div style="margin-top: 10px;">
				<div style="width: 100%;background: #fff">
					<div style="margin: 0 auto;width: 1100px;">
						<ul class="clearfix addwin-acttype" 
							style="padding-left: 6px;border-bottom: 1px solid #F1F1F1;display: none;">
							<li class="myfl" style="width: 54px;padding: 0;color: #999;">类型：</li>
							<li class="myfl">
								<a href="/item?jump=1&amp;shopType=&amp;itemCategoryId=3&amp;sortType=APPLY_MEMBER_COUNT&amp;sortEnum=DESC&amp;itemType=ALL"
								 style="padding: 0 50px 0 6px;
        width: auto;">全部</a>
							</li>
							<li class="myfl">
								<a href="javascript:;" class="active">常规</a>
							</li>
						</ul>
						<ul class="classified_screening clearfix" style="position: relative;padding-left: 6px;">
							<li style="width: 54px;color: #999">分类：</li>
							{foreach $cateList as $vo}
								<li class="goods_whole">
									<a href="/" style="padding: 0 16px 0 6px;width: auto">{$vo.catname}</a>
								</li>
							{/foreach}
						</ul>
					</div>
				</div>
				<div class="goods_clothing_childrenheight" style="height:68px;background: #fff;display: none"></div>
				<div class="goods_Category">
					<div class="commodity_sorting myfl">
						<a href="/item?jump=1&amp;shopType=&amp;itemCategoryId=3&amp;secondCategoryId=&amp;sortType=ACTIVITY_RELEASE_DATE&amp;sortEnum=DESC&amp;itemType=NORMAL"
						 class="myfl">综合</a>
						<em></em>
						<a href="javascript:void(0)" class="myfl" style="color: #C62F2F;">人气</a>
						<em></em>
						<a href="/item?jump=1&amp;shopType=&amp;itemCategoryId=3&amp;secondCategoryId=&amp;sortType=COMMODITY_PRICE&amp;sortEnum=DESC&amp;itemType=NORMAL"
						 class="myfl" style="padding-right: 4px;">价格
							<img src="/img/home/xiajiantou111.png">
						</a>
						<em></em>
						<a href="/item?jump=1&amp;shopType=&amp;itemCategoryId=3&amp;secondCategoryId=&amp;itemType=FORTHCOMING_AWARD&amp;sortEnum=ASC"
						 class="myfl color333">即将开奖</a>
						<em></em>
						<a href="/item?jump=1&amp;shopType=&amp;itemCategoryId=3&amp;secondCategoryId=&amp;itemType=HIGH_AWARD_RATE&amp;sortEnum=DESC"
						 class="myfl" style="color: #333;">99%高中奖率</a>
					</div>
					<div class="commodity_sorting myfr" style="display: none;">
						<a href="javascript:;" class="linkahrefcheckbox">
							<label onclick="linkahref()" style="cursor: pointer;">
								<input type="checkbox" name="checkboxtype1" class="checkboxtype" value="1"> 申请有奖</label>
						</a>
						<a href="javascript:;" class="linkahrefcheckbox">
							<label onclick="linkahref()" style="cursor: pointer">
								<input type="checkbox" name="checkboxtype2" class="checkboxtype" value="2"> 下单有奖</label>
						</a>
						<a href="javascript:;" class="linkahrefcheckbox">
							<label onclick="linkahref()" style="cursor: pointer">
								<input type="checkbox" name="checkboxtype3" class="checkboxtype" value="3"> 花呗支付</label>
						</a>
						<a href="javascript:;" class="linkahrefcheckbox">
							<label onclick="linkahref()" style="cursor: pointer">
								<input type="checkbox" name="checkboxtype4" class="checkboxtype" value="4"> 信用卡支付</label>
						</a>
					</div>
				</div>
			</div>
			<div class="mainlefty">
				<div class="bestCargo clearfix" style="min-height: 600px;">
					<!--广告位置移动-->
					<div class="myfr advert-move" style="background: #fff;padding-bottom: 60px;">
						<h3>平台推荐</h3>
						<ul class="picList" style="width: 212px;">
							<!--<input type="hidden" value="$Infolenth" />-->
							<li class="ShopPhotoThis" style="height: 300px;width: 212px;border: none;background: #fff;margin: 0;border-bottom: 1px solid #e5e5e5;position: relative">
								<div class="new_index_goodsbox myfl newpage_shopphotothis new_anmimat_time" style="background: #fff;height: 278px;margin: 0;">
									<!--新人专享特有的蒙版详情-->
									<a href="/activity/307323/1.html" class="displaylineblock overhiden" target="_blank" style="position: relative;width: 192px;height: 192px;margin: 10px 0 0 10px;">
										<img src="https://laquimage.b0.upaiyun.com/system/2019/1/5/file1546671741591_143.jpg!220x220" class="transitionphoto"
										 style="position: absolute;width: 192px;height: 192px;"> </a>
									<div class="new_index_goodsfont" style="width: 212px;">
										<p style="padding: 0 10px;width: auto;margin-top: 14px;line-height: 14px;" class="color333" title="红枫树苗庭院阳台风景树">
											<span class="good_recommendlabel">推荐</span>
											<a href="/activity/307323/1.html" class="color333 overtop fontsize14" target="_blank" style="display: inline-block;
    vertical-align: text-bottom;
    margin-left: 4px;width: 148px;">红枫树苗庭院阳台风景树</a>
										</p>
										<p class="priceandapply clearfix" style="padding: 0 10px;margin-top: 20px;height: 12px;line-height: 12px;">
											<span class="price myfl" style="font: 16px arial;color: #666;line-height: 12px;">
												<span class="money_symbol" style="margin-right: 3px;">¥</span>
												<span class="money_num" style="text-decoration: line-through;">28.80</span>
											</span>
											<span class="apply myfr" style="font-size: 12px;color: #999;">291人已申请</span>
										</p>
										<!--<a href="/activity/307323/1.html" target="_blank" style="margin:10px auto 0;display: block;width: 188px;" class="boderstyleff366f add_index_goodslink textcenter bdradius3 colorFF366f">免费领取</a>-->
									</div>
								</div>
								<!---->
							</li>
							<li class="ShopPhotoThis" style="height: 300px;width: 212px;border: none;background: #fff;margin: 0;border-bottom: 1px solid #e5e5e5;position: relative">
								<div class="new_index_goodsbox myfl newpage_shopphotothis new_anmimat_time" style="background: #fff;height: 278px;margin: 0;">
									<!--新人专享特有的蒙版详情-->
									<a href="/activity/305498/1.html" class="displaylineblock overhiden" target="_blank" style="position: relative;width: 192px;height: 192px;margin: 10px 0 0 10px;">
										<img src="https://laquimage.b0.upaiyun.com/activity/2018/12/24/img1545654237429_298.jpg!220x220" class="transitionphoto"
										 style="position: absolute;width: 192px;height: 192px;"> </a>
									<div class="new_index_goodsfont" style="width: 212px;">
										<p style="padding: 0 10px;width: auto;margin-top: 14px;line-height: 14px;" class="color333" title="光流定位无人机1080P长续航">
											<span class="good_recommendlabel">推荐</span>
											<a href="/activity/305498/1.html" class="color333 overtop fontsize14" target="_blank" style="display: inline-block;
    vertical-align: text-bottom;
    margin-left: 4px;width: 148px;">光流定位无人机1080P长续航</a>
										</p>
										<p class="priceandapply clearfix" style="padding: 0 10px;margin-top: 20px;height: 12px;line-height: 12px;">
											<span class="price myfl" style="font: 16px arial;color: #666;line-height: 12px;">
												<span class="money_symbol" style="margin-right: 3px;">¥</span>
												<span class="money_num" style="text-decoration: line-through;">284.00</span>
											</span>
											<span class="apply myfr" style="font-size: 12px;color: #999;">7623人已申请</span>
										</p>
										<!--<a href="/activity/305498/1.html" target="_blank" style="margin:10px auto 0;display: block;width: 188px;" class="boderstyleff366f add_index_goodslink textcenter bdradius3 colorFF366f">免费领取</a>-->
									</div>
								</div>
								<!---->
								<span class="hight_icon">高价值</span>
							</li>
							<li class="ShopPhotoThis" style="height: 300px;width: 212px;border: none;background: #fff;margin: 0;border-bottom: 1px solid #e5e5e5;position: relative">
								<div class="new_index_goodsbox myfl newpage_shopphotothis new_anmimat_time" style="background: #fff;height: 278px;margin: 0;">
									<!--新人专享特有的蒙版详情-->
									<a href="/activity/307302/1.html" class="displaylineblock overhiden" target="_blank" style="position: relative;width: 192px;height: 192px;margin: 10px 0 0 10px;">
										<img src="https://laquimage.b0.upaiyun.com/activity/2019/1/5/img1546664412165_034.jpg!220x220" class="transitionphoto"
										 style="position: absolute;width: 192px;height: 192px;"> </a>
									<div class="new_index_goodsfont" style="width: 212px;">
										<p style="padding: 0 10px;width: auto;margin-top: 14px;line-height: 14px;" class="color333" title="新款潮鞋">
											<span class="good_recommendlabel">推荐</span>
											<a href="/activity/307302/1.html" class="color333 overtop fontsize14" target="_blank" style="display: inline-block;
    vertical-align: text-bottom;
    margin-left: 4px;width: 148px;">新款潮鞋</a>
										</p>
										<p class="priceandapply clearfix" style="padding: 0 10px;margin-top: 20px;height: 12px;line-height: 12px;">
											<span class="price myfl" style="font: 16px arial;color: #666;line-height: 12px;">
												<span class="money_symbol" style="margin-right: 3px;">¥</span>
												<span class="money_num" style="text-decoration: line-through;">158.00</span>
											</span>
											<span class="apply myfr" style="font-size: 12px;color: #999;">7383人已申请</span>
										</p>
										<!--<a href="/activity/307302/1.html" target="_blank" style="margin:10px auto 0;display: block;width: 188px;" class="boderstyleff366f add_index_goodslink textcenter bdradius3 colorFF366f">免费领取</a>-->
									</div>
								</div>
								<!---->
								<span class="hight_icon">高价值</span>
							</li>
							<li class="ShopPhotoThis" style="height: 300px;width: 212px;border: none;background: #fff;margin: 0;border-bottom: 1px solid #e5e5e5;position: relative">
								<div class="new_index_goodsbox myfl newpage_shopphotothis new_anmimat_time" style="background: #fff;height: 278px;margin: 0;">
									<!--新人专享特有的蒙版详情-->
									<a href="/activity/308049/1.html" class="displaylineblock overhiden" target="_blank" style="position: relative;width: 192px;height: 192px;margin: 10px 0 0 10px;">
										<img src="https://laquimage.b0.upaiyun.com/activity/2019/1/7/img1546828192890_111.jpg!220x220" class="transitionphoto"
										 style="position: absolute;width: 192px;height: 192px;"> </a>
									<div class="new_index_goodsfont" style="width: 212px;">
										<p style="padding: 0 10px;width: auto;margin-top: 14px;line-height: 14px;" class="color333" title="棉服女中长款">
											<span class="good_recommendlabel">推荐</span>
											<a href="/activity/308049/1.html" class="color333 overtop fontsize14" target="_blank" style="display: inline-block;
    vertical-align: text-bottom;
    margin-left: 4px;width: 148px;">棉服女中长款</a>
										</p>
										<p class="priceandapply clearfix" style="padding: 0 10px;margin-top: 20px;height: 12px;line-height: 12px;">
											<span class="price myfl" style="font: 16px arial;color: #666;line-height: 12px;">
												<span class="money_symbol" style="margin-right: 3px;">¥</span>
												<span class="money_num" style="text-decoration: line-through;">269.00</span>
											</span>
											<span class="apply myfr" style="font-size: 12px;color: #999;">7224人已申请</span>
										</p>
										<!--<a href="/activity/308049/1.html" target="_blank" style="margin:10px auto 0;display: block;width: 188px;" class="boderstyleff366f add_index_goodslink textcenter bdradius3 colorFF366f">免费领取</a>-->
									</div>
								</div>
								<!---->
							</li>
					
						</ul>
					</div>
					<!-- 商品列表 -->
					<div class="bd myfl">
						<ul class="picList clearfix" style="width: 980px;margin-bottom: 20px;">
							{foreach $tList as $vo}
								<li class="laqu_goods_style">
									<a href="/tdetails" class="animatelink">
										<img class="animateimg" src="{$vo.product_logo}">
										<span class="hight_icon">高价值</span>
									</a>
									<div class="explain">
										<p class="paymentmode">
											<!---->
										</p>
										<p class="goods_name">{$vo.product_name}</p>
										<p class="priceandapply clearfix">
											<span class="price myfl">
												<span class="money_symbol">¥</span>
												<span class="money_num">{$vo.product_price}</span>
											</span>
											<span class="apply myfr">{$vo.user_counts}人已申请</span>
										</p>
										<a href="/tdetails" target="_blank" class="receive">免费领取</a>
									</div>
								</li>
							{/foreach}
						</ul>
					</div>
				</div>
				<div class="no_goodslist" style="height: 600px;width: 100%;background: #fff;display: none">
					<p style="width: 100%;text-align: center;padding-top: 120px;padding-bottom: 58px;">
						<img src="/img/business/not_findgoods.jpg"> </p>
					<p style="width: 100%;text-align: center;color: #4bb546;font-size: 28px;line-height: 72px;">抱歉，该类别下暂时没有商品......</p>
					<p style="width: 100%;text-align: center;color: #999;font-size: 22px;">拉趣会尽快上传，去看看其他商品吧！</p>
				</div>
			</div>
		</div>
	</div> {include file="public/footer"/}