{include file="public/header"/} 
</head>
<body>
	<header style="background: #ffffff;">
		<div class="main clearfix">
			<h1 class="laqu_logo">
				<a href="/index">
					<img src="{$Think.INDEX_STYLE}/img/home/laqu_logo.png" alt="图片加载失败" style="margin-top: -10px;">
				</a>
			</h1>
			<span class="background_name">
				<a href="/user-index" style="color:#666666;">用户管理中心</a>
			</span>
		</div>
	</header>
		<div class="clearfix">
				<!--左侧下拉列表-->
				{include file="public/nav_menu"/}
				<!---左侧内容结束----->
				<!-- 右侧内容 -->
				<div class="userControl_rightmain myfl">
					</div>
	  </div>
	  {include file="public/footer"/}